* {
  box-sizing: border-box;
}

:root {
  --main: #222831;
  --second: #393E46;
  --third: #00ADB5;
  --fourth: #EEEEEE;
}


body {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  height: 100svh;
  margin: 0;

  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  grid-column: 1/4;
}

svg {
  width: 32px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column: 2/3;
  padding-top: 5rem;
  gap: 3rem;
  position: relative;
}

main div {
  display: flex;
  flex-direction: column;
}

main > p {
  top: 0;
  margin: 1rem 0;
  position: absolute;
  font-size: 2rem;
}


.headerStyle {
  position: absolute;
  z-index: -1;
  width: 120%;
  height: 550px;
  background-color: var(--main);
  clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 100%);
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 1000px;

  color: var(--fourth);
}

.headerContent > div + div {
  padding: 1rem;
  background-color: var(--third);
  color: black;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

}

.headerContent > div + div h3 {
  color: var(--main);
  margin: 0 0 1rem 0;
  font-weight: normal;
  font-size: 3rem;
} 


.imgContainer {
  position: relative;
  height: max-content;
}

.imgContainer p {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;

  font-size: 3rem;
}

.imgContainer img {
  width: 380px;
  height: auto;
  
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;  

  margin-top: 3rem;
}

.firstDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projectLinks {
  display: flex;
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;

  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.67);
  border-radius: 28px;
}

.project img {
  border-radius: 28px;
}

.projectImgContainer {
  transition: transform 0.4s ease-in;
}

.projectImgContainer.hover {
  transform: translateY(-100px) scale(2);
  transition: transform 0.7s ease-out;
}

.projectDescription {
  padding: 1rem;
}

.projectName {
  font-weight: bold;
}

