* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main: #222831;
  --second: #393E46;
  --third: #00ADB5;
  --fourth: #EEEEEE;
}


body {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  height: 100svh;
  margin: 0;
  gap: 4rem;
  overflow-x: hidden;
  background-color: var(--fourth);
}

svg {
  width: 32px;
}


header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  grid-column: 1/4;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column: 2/3;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 3rem;
  position: relative;
}

main div {
  display: flex;
  flex-direction: column;
}

main > p {
  top: 0;
  margin: 0;
  position: absolute;
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  height: max-content;
  width: 100%;
  grid-column: 1/4;
  margin-top: auto;
  height: fit-content;
}

footer img {
  width: 500px;
  height: 450px;
}


.headerStyle {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 550px;
  background-color: var(--main);
  clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 100%);
}

.headerContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-bottom: 4rem;
  padding: 1rem 0 1rem 0;
}

.headerContent > div {
  width: 1000%;
  padding: 1rem;
  color: black;
  background-color: var(--fourth);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.headerContent h3 {
  color: var(--main);
  margin: 0 0 1rem 0;
  font-weight: normal;
  font-size: 3rem;
} 

.headerContent > div > p {
  font-size: 1.2rem;
}

.headerContent picture {
  position: relative;
}

.headerContent picture img {
  width: 450px;
  height: auto;
}

.headerContent > picture > p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;

  font-size: 3rem;
  color: black;
}

.headerContent img {
  width: 380px;
  height: auto;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;  
}

.firstDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projectLinks {
  display: flex;
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;

  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.67);
  border-radius: 28px;
}

.project img {
  border-radius: 28px;
}

.projectImg {
  transition: transform 0.4s ease-in;
}


.projectImg.hover {
  transform: translateY(-80px) scale(1.5);
  transition: transform 0.7s ease-out;
}

.projectDescription {
  padding: 1rem;
}

.projectName {
  font-weight: bold;
}

.footerStyle {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 500px;
  max-height: 100%;
  background-color: var(--main);
}

.footerContent {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
  height: 300px;
  width: 1000px;
  color: var(--fourth);
}

.contactDescription {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.contactDescription > * {
  margin: 0;
}

.contactDescription h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact > * {
  margin: 0;
}

.email::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('assets/email.svg');
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.tel::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('assets/phone.svg');
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.footerLinks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1000px) {
  body { 
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    height: 100svh;
    margin: 0;
    gap: 10rem;
    overflow-x: hidden; 
  }

  header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    grid-column: 1/4;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column: 2/3;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 3rem;
    position: relative;
  }

  .headerContent {
    display: flex;
    flex-direction: column;
  }

  .headerContent > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .headerContent > div p {
    float: right;
  }

  .headerContent > div p::before {
    margin: auto;
  }

  .headerContent > picture > p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
  
    font-size: 3rem;
    color: black;
  }

  .footerStyle {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: auto;
    background-color: var(--main);
  }

  .project {
    font-size: larger;
  }
}

@media (max-width: 500px) {
  body {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    height: 100svh;
    margin: 0;
    gap: 10rem;
    overflow-x: hidden;
  }

  header {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
    overflow: hidden;
    grid-column: 1/4;
  }
  
  main {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-column: 2/3;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 3rem;
    position: relative;
  }

  footer {
    grid-column: 1/4;
  }
  
  .headerStyle {
    width: 100%;
    height: 80%;
    background-color: var(--main);
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 70%);
  }

  
  .headerContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin-bottom: 4rem;
    padding: 1rem 0 1rem 0;
  }

  .headerContent > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 500px;
    padding: 1rem;
    color: black;
    background-color: var(--fourth);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  }

  .headerContent > picture > p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
  
    color: var(--main);
    font-size: 3rem;
  }

  .projectDescription p {

    font-size: 1.8rem;
  }

  .firstDescription p {
    font-size: 1.5rem;
  }

  .footerStyle {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 850px;
    background-color: var(--main);
  }

  .footerContent {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0 2rem 0;
    height: 300px;
    width: 100%;
    color: var(--fourth);
  }

  .footerContent img {
    width: 100%;
    height: auto;
  }

  .contactDescription p {
    font-size: 1.3rem;
  }
}